body{
    text-align: center;
    background: #808080;
html
{
    scroll-behavior: smooth;
}

img{
  width:300;
  height:300;
    border-radius: 50%;
    
}
#myname{
   font-family: 'Courgette', cursive;
}
#welcome{
     padding:70px;
    text-align:center:
}
h1{
  
  font-size:18px;
}
p{
  font-size:18px;
  color:#6A1B9A;
    
}
h2{
  font-size:20px;
  color:#003487;
}
.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin:8px auto;
}
#bio{
    padding:20px;
    font-size:42;
    background:pink;
}
.menu{
   list-style: none;
    font-family:cursive;
   float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
}
.menu a{
    
    color:black !important;
}


.link{
    color:crimson;
    display: inline;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom: 5px;
}
   .link:hover{
    background-color:beige;
}

#Mywork a, #References a{
    font-size: :30px;
    
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a
{
  text-decoration:none;
}
h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
